@import '../variables';

.faq {
    background-color: $color-faq-bg;

}

div.faq_card {
    background-color: unset;
}

.header {
    background-color: $color-faq-header;
}

.accordion-button,
.accordion-button:hover,
.accordion-button:focus,
.accordion-button:not(.collapsed)
 {
    background-color: $color-faq-header;
    color: #fff;
    border: 1px solid #000;
}
