@import '../variables';

.footer {
    border-bottom: 0.2rem solid $color-secundary;
}

.logo {
    text-align: center;
    
    @media screen and (min-width: 992px) {
        text-align: left;}

}

.store {
    margin: 2rem 0;

    @media screen  and (min-width: 992px) {
        margin: 0
        
    }
}